[submodule "nixpkgs"]
	path = nixpkgs
	url = https://github.com/kloenk/nixpkgs.git
[submodule "dwm"]
	path = dwm
	url = https://github.com/Kloenk/dwm.git
[submodule "home-manager"]
	path = home-manager
	url = https://github.com/Kloenk/home-manager.git
[submodule "sources/jblock"]
	path = sources/jblock
	url = https://gitlab.com/jgkamat/jblock.git
[submodule "secrets"]
	path = secrets
	url = git@git.kloenk.de:kloenk/pass.git
