[submodule "dwm"]
	path = dwm
	url = https://github.com/Kloenk/dwm.git
[submodule "sources/jblock"]
	path = sources/jblock
	url = https://gitlab.com/jgkamat/jblock.git
#[submodule "secrets"]
#	path = secrets
#	url = git@git.kloenk.de:kloenk/pass.git
[submodule "sources/nixpkgs"]
	path = sources/nixpkgs
	url = https://github.com/nixos/nixpkgs
[submodule "sources/home-manager"]
	path = sources/home-manager
	url = https://github.com/rycee/home-manager
[submodule "sources/nixos-mailserver"]
	path = sources/nixos-mailserver
	url = https://gitlab.com/simple-nixos-mailserver/nixos-mailserver.git
