[submodule "nixpkgs"]
	path = nixpkgs
	url = https://github.com/kloenk/nixpkgs.git
[submodule "dwm"]
	path = dwm
	url = https://github.com/Kloenk/dwm.git
[submodule "home-manager"]
	path = home-manager
	url = https://github.com/Kloenk/home-manager.git
